pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1 NEW 22",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "data_atual",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1 NEW 22",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\n    mod(dayOfMonth(variables('data_atual')),2), \n    0\n    )\n\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "teste_if",
								"value": "falso"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "teste_if",
								"value": "Verdadeiro"
							}
						}
					]
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "final",
					"value": {
						"value": "@variables('teste_if')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"data_atual": {
				"type": "String",
				"defaultValue": "'1900-01-01'"
			},
			"teste_if": {
				"type": "String"
			},
			"final": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-09-21T13:48:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}